# system utilities
pipdeptree
# core numeric packages
numpy
matplotlib
pandas
xarray
# json related 
jsonschema
# file formats
hdf4
hdf5
h5py
netcdf4
openpyxl
pyarrow
# ocean specific
cartopy
cmocean
# web scraping
requests
beautifulsoup4
lxml
# jupyter
ipykernel
ipympl
jupyter-lsp
jupyterlab
notebook

